# Redis Configuration
REACT_APP_REDIS_HOST=redis-12000.c114.us-east-1-4.ec2.redns.redis-cloud.com
REACT_APP_REDIS_PORT=12000
REACT_APP_REDIS_USERNAME=default
REACT_APP_REDIS_PASSWORD=B9Rezk5fbML2IGEBWVgerK0gOpD93kZS
REACT_APP_REDIS_DB=0

# API Configuration
# IMPORTANT: The app will crash if this is not set
REACT_APP_API_URL=https://myportfolio-backend-blond.vercel.app
